

@keyframes type {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
.animate-image {
    position: relative;
   
    opacity: 0;
    animation: image-animation 3s forwards;
}

@keyframes image-animation {
    0% {
        top: -300px;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
#animate-name{
    position: relative;
    animation: name-animation 3s forwards; 
}
@keyframes name-animation {
    0% {
        left: -300px;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

.animate-links{
    /* position: relative; */
    animation: links-animation 3s forwards; 
    transition: 2s;
}
@keyframes links-animation {
    0% {
        
        opacity: 0;
    }
    100% {
       
        opacity: 1;
    }
}

.animate-btn{
    animation: links-animation 3s forwards; 
    transition: 2s;
}

@keyframes rotate-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}